h1 {
  font-family: amatic sc;
  font-size: 60px;
  font-weight: 600;

}

.head {
  background-color: #ffaa80;
  width: 100%;
  margin: -20px -15px 0px -10px;
  padding: 1px 5px 5px 17px;
  color:#000a17;
}

.head h1 {
  border-bottom: 3px solid  #ff9933;
  width: 15%;
}

.about {
  font-family: inherit;
  color: grey;
  font-weight: 400;
  text-align: center;
}

img {
  width: auto;
  height: 400px;
}

.blog1 {
  color: #ff5c33;
  font-family:fantasy;
  margin: 30px 45px;
  border: #ff5c33 solid 2px;
  padding: 20px 20px;
}
